html {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

#root {
  height: 100%;
}

#mui-container {
  height: 100%;
}

#main {
  display: flex;
  bottom: 0;
  height: calc(100% - 120px);
}

@media screen and (max-width:990px) {
  #main {
    flex-wrap: wrap;
  }
}

#brush-slider-container {
  display: inline-block;
  padding-left: 2px;
  margin-top: -25px;
  padding-bottom: 10px;
}

#slider-container {
  display: inline-block;
  width: 125px;
  height: 64px;
  margin-right: 20px;
}

#svg-container {
  display: inline-block;
  margin-left: 15px;
}

.box {
  padding: 25px;
}

#options {
  padding: 0px;
  padding-bottom: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 250, 250);
  min-width: 275px;
  overflow: auto;
  position: relative;
}

#select-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#original {
  min-width: 300px;
}

#modified {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 400px;
}

#brush-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#brush-range {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
}

#draw-canvas {
  margin-left: -227px;
}

#original-cam {
  margin-left: -227px;
}

#modified-cam {
  margin-left: -227px;
}

#brush-size-text {
  display: inline-block;
}

#reset-button {
  margin-left: 24px;
  margin-top: 10px;
}

.table {
  margin-top: 5px;
  margin-left: -23px;
}

.classification {
  white-space: 'normal';
  word-wrap: 'break-word';
}

.blur-button {
  margin-top: -40px;
}

#blur-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 20px;
}

.header-row {
  margin-left: -50px;
}

#top-order {
  margin-left: -25px;
  margin-top: 15px;
}

h3 {
  margin-left: 15px;
  margin-bottom: -3px;
}

.right {
  text-align: right;
  margin: auto;
}

#tutorial-container {
  /*position: absolute;*/
  bottom: 40px;
  padding-left: 24px;
  padding-right: 200px;
  width: 225px;
}

#header {
  background-color: #283593;
}

.modelButton {
  margin-bottom: 10px;
  display: inline;
}

/*Banner*/

.banner-cover {
  position: relative;
  background-color: rgba(63, 81, 181,1.0);
  background-size: cover;
  padding-top: 10px;
  /*padding-bottom: 0px;*/
  box-shadow: 3px 3px 5px grey;
}

.title-shine {
  color: white;
  font-size: 30px;
  font-weight: 120;
  background-position: left;
}

.banner-intro {
  margin-left: 20px;
  /*max-width: 100%;*/
  color: white;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -0.02em;
  margin-top: 14px;
  margin-bottom: 5px;
}

.subtitle {
  /*margin-left: 20px;*/
  /*max-width: 100%;*/
  color: white;
  font-size: 20px;
  font-weight: lighter;
  /*letter-spacing: -0.02em;*/
  margin-top: 20px;
}

.subtitle-right {
  margin-right: 10px;
  /*max-width: 100%;*/
  position: absolute;
  right: 0px;
  text-align: right;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.float-right {
  float: right;
}

